  <!DOCTYPE HTML>
    <html>

    <body>
    <div>
    <h2>Max-Min cost of trips</h2>
    <table>
    <tr>
    <th>Employee name</th>
    <th>Cost of route, euro</th>
    </tr>

    {{#trips}}
       <tr>
       <td>{{name}}</td>
       <td>{{cost}}</td>
       </tr>
    {{/trips}}
    </table>
    </div>

    <a href="/value">Consumption and cost of fuel</a>

    </body>

    </html>